@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    color: #333;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-sans{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
}

section h2 {
    font-weight: bold;
    color: #273658;
    font-size: 1.9rem;
    padding: 50px 75px;
    font-weight: 900;
    position: relative;
    z-index: 500;
    margin-bottom: 20px;
}