@charset "utf-8";

@media screen and (max-width:1279px) and (min-width:744px) {
    .top{display: none;}

    header {
        width: 100%;
        height: 85px;
    }
    .nav_btn {
        position: absolute;
        top: -57.5px;
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 40px;
        height: 40px;
    }

    .nav_btn span {
        display: inline-block;
        height: 8px;
        width: 100%;
        background-color: #273658;
        cursor: pointer;
    }

    .nav_btn span:first-child.c_btn {
        transform: rotate(45deg);
        position: absolute;
        top: 21px;
        left: 0px;
    }

    .nav_btn span:nth-child(2).c_btn {
        display: none;
    }

    .nav_btn span:last-child.c_btn {
        transform: rotate(-45deg);
        position: absolute;
        top: 21px;
        left: 0px;
    }

    nav {
        position: absolute;
        top: 84px;
        right: 0px;
        width: 100%;
        display: block;
    }

    .gnb {
        width: 100%;
        flex-direction: column;
        margin-top: 0px;
        display: none;
    }

    .gnb>li {
        width: 100%;
    }


    .gnb>li>a {
        width: 100%;
        text-align: center;
        line-height: 5rem;
        font-size: 1.2rem;
        font-weight: 600;
        background-color: rgba(242, 242, 242, 0.8);

    }

    .back {
        display: none;
    }

    .sub {
        display: block;
        position: relative;
        top: 0px;
        display: none;

    }

    .sub>li {
        display: block;
        width: 100%;
    }

    .sub>li:hover {
        font-weight: 600;
    }

    .sub>li>a {
        line-height: 4rem;
        font-size: 1rem;
        background-color: rgba(240, 167, 165, 0.9);
        font-weight: 500;
    }

    nav>div:nth-child(3) {

        display: none;
    }

    nav>div:nth-child(3)>a {
        width: 100%;
        margin-top: 0px;
        border-radius: 0px;
        font-size: 1.2rem;
        line-height: 5rem;
        background-color: rgba(0, 165, 177, 0.9);
        display: block;
    }

    .lang {
        height: 5rem;
        position: relative;
        width: 100%;
        top: 0px;
        background-color: rgba(242, 242, 242, 0.8);
        display: none;
    }

    .lang>a {
        font-size: 1rem;
        width: 49%;
        text-align: center;
        line-height: 5rem;
        cursor: pointer;
    }

    .lang>a:first-child {
        padding: 0px;
        font-size: 1.1rem;
        font-weight: 600;
        background-color: rgba(255, 255, 255, 0.9);

    }


    /* 슬라이드 */
    #slide {
        height: 400px;
        max-height: 450px;
    }

    .s_img img {
        object-fit: cover;
    }

    section h2 {
        width: 100%;
        text-align: center;
    }

    .s_btn{right:3%;}
    /* 메뉴 */
    #menu {
        width: 100%;
        height: 820px;
        position: relative;
    }

    .menu_center {
        display: none;
    }

    .menu_back {
        width: 100%;
        height: 100%;
    }

    .menu_back>ul {
        display: flex;
        justify-content: space-around;
        padding-left: 0px;
    }

    .menu_list {
        width: 100%;
        height: 550px;
        background-color: rgba(242, 242, 242, 0.8);
        position: absolute;
        top: 270px;
        left: 0px;
    }


    .menu_list ul {
        justify-content: space-between;
    }

    /* 신메뉴 */
    #new {
        width: 100%;
    }

    .new_list_wrap {
        max-width: 524px;
        margin: 0px auto;
        overflow: hidden;

    }


    .new_list li:first-child>a>img,
    .new_list li:nth-child(3)>a>img {

        height: 157px;
        width: 120px !important;
        margin: 0px 30px;
    }

    .new_list li:first-child>a>div,
    .new_list li:nth-child(3)> a>div{
        height: 50% !important;
    }
    .new_list p,
    .new_list div>img {
        display: block;
    }

    .new_btn {
        display: flex;
        justify-content: center;
        position: relative;
        transform: translateY(150%);
        width: 100%;
        z-index: 900;
    }

    .new_btn>li:last-child {
        display: none;
    }

    .new_btn>li {
        width: 16px;
        height: 16px;
        margin: 0px 8px;
    }

    .new_btn>li>a {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fff;
    }

    .act3 {
        background-color: #E6383D !important;
    }

    #new::after {
        border-top-right-radius: 250px;
    }

    #new::before {
        border-top-right-radius: 250px;
    }    #food::after,
    #food::before {
        display: none;
    }

    /* 푸드 */
    #food>article {
        width: 100%;
    }

    #food article ul {
        min-width: 620px;
        width: 80%;
        max-width: 820px;
    }

    #food article li {
        width: 30%;
    }

    #food .r_btn {
        right: 7%;
    }

    #food .l_btn {
        left: 7%;
    }

    /* 매거진 */
    #magazine {
        height: 155px;
    }

    #magazine img {
        object-fit: cover;
    }

    /* sns */
    #sns {
        width: 100%;
    }

    #sns ul {
        width: 636px;
        ;
        overflow: hidden;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(2, 150px);
        margin: 0px auto;
    }

    #sns li:last-child,
    #sns li:nth-child(4),
    #sns li:nth-child(6) {
        display: none;
    }

    /* 사이드배너 */
    #banner ul {
        height: 300px;
    }

    #banner li h2 {
        padding-top: 110px;
        height: 300px;
    }

    /* 푸터 */
    footer {
        width: 100%;
        padding: 80px 10px 30px;
        position: relative;
        align-items: start;
        justify-content: space-evenly;
    }

    footer h2 img {
        height: 50px;
        margin: 8px 0px;
    }

    .sns {
        margin-bottom: 0px;
    }

    .side {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
    }


}